/* ------------------------- */
/* -------Leaf Sizing------- */
/* ------------------------- */

div#leaf-1 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-2 {
	width:255px;
	height:80px;
	min-height:80px; }

div#leaf-9 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-10 {
	width:255px;
	height:125px;
	min-height:125px; }

div#leaf-11 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-12 {
	width:255px;
	height:125px;
	min-height:125px; }

div#leaf-13 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-14 {
	width:255px;
	height:125px;
	min-height:125px; }

div#leaf-15 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-16 {
	width:255px;
	height:125px;
	min-height:125px; }

div#leaf-17 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-18 {
	width:255px;
	height:125px;
	min-height:125px; }

div#leaf-19 {
	width:903px;
	height:125px;
	min-height:125px; }

div#leaf-21 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-22 {
	width:255px;
	height:125px;
	min-height:125px; }

div#leaf-23 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-24 {
	width:255px;
	height:125px;
	min-height:125px; }

div#leaf-25 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-26 {
	width:255px;
	height:125px;
	min-height:125px; }

div#leaf-27 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-30 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-31 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-32 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-33 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-34 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-35 {
	width:255px;
	height:80px;
	min-height:80px; }

div#leaf-36 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-37 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-38 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-39 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-40 {
	width:255px;
	height:80px;
	min-height:80px; }

div#leaf-41 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-42 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-43 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-44 {
	width:635px;
	height:125px;
	min-height:125px; }

div#leaf-45 {
	width:255px;
	height:80px;
	min-height:80px; }

div#leaf-46 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-47 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-48 {
	width:px;
	height:px;
	min-height:px; }

div#leaf-49 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-50 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-51 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-52 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-53 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-54 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-55 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-56 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-57 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-58 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-59 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-60 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-61 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-62 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-63 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-64 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-67 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-68 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-69 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-70 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-71 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-72 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-73 {
	width:920px;
	height:125px;
	min-height:125px; }

div#leaf-74 {
	width:920px;
	height:125px;
	min-height:125px; }


/* ------------------------- */
/* -------Leaf Columns------- */
/* ------------------------- */


div#wrapper div#column-1-page-index { width: 940px; }
div#wrapper div#column-1-page-tag { width: 940px; }
div#wrapper div#column-1-page-author { width: 940px; }
div#wrapper div#column-1-page-search { width: 940px; }
div#wrapper div#column-1-page-four04 { width: 940px; }
div#wrapper div#column-1-page-602 { width: 940px; }
div#wrapper div#column-1-page-114 { width: 940px; }
div#wrapper div#column-1-page-99 { width: 940px; }
div#wrapper div#column-1-page-48 { width: 940px; }
div#wrapper div#column-1-page-16 { width: 940px; }
div#wrapper div#column-1-page-archives { width: 940px; }
div#wrapper div#column-1-page-category { width: 940px; }
div#wrapper div#column-1-page-single { width: 940px; }